@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Montserrat+Alternates:wght@100;500&display=swap');

/*body {
    background-color: #333;
    color: #fff;
    font-family: 'Anonymous Pro', monospace;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
}
.*/
.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 25px 20px;
}

.logo {
    width: 304px;
}
